@forward './hero';
@forward './brand';
@forward './service';
@forward './project';
@forward './award';
@forward './team';
@forward './testimonial';
@forward './about';
@forward './video';
@forward './gallery';
@forward './instagram';
@forward './cta';
@forward './contact';
@forward './social';
@forward './price';
@forward './funfact';
@forward './shop';
@forward './cart';
@forward './checkout';
@forward './order';
@forward './profile';
@forward './login';
@forward './liko-dark';
@forward './tp_custom';
@forward './error';