@use '../../utils' as *;

/*----------------------------------------*/
/*  5.3 Recent Post css
/*----------------------------------------*/

.rc{
    &__post{
        & ul{
            & li{
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
        &-title{
            font-size: 17px;
            font-weight: 600;
            line-height: 22px;
            color: var(--tp-common-black);
            & a{
                background-image: -webkit-radial-gradient(#000, #000), -webkit-radial-gradient(#000, #000);
                background-image: -moz-radial-gradient(#000, #000), -moz-radial-gradient(#000, #000);
                background-image: -ms-radial-gradient(#000, #000), -ms-radial-gradient(#000, #000);
                background-image: -o-radial-gradient(#000, #000), -o-radial-gradient(#000, #000);
                background-image: radial-gradient(#000, #000), radial-gradient(#000, #000);
                background-size: 0% 1px, 0 1px;
                background-position: 100% 100%, 0 91%;
                background-repeat: no-repeat;
                &:hover{
                    background-size: 0 1px, 100% 1px;
                }
            }
        }
    }
    &__meta{
        & span{
            color: #414145;
            font-size: 15px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 15px;
            display: inline-block;
        }
    }
    &__post-thumb{
        flex: 0 0 auto;
    }
}